.config/BraveSoftware
.config/dconf
.config/discord
.config/flameshot
.config/fontforge
.config/gtk-3.0
.config/htop
.config/ibus
.config/neofetch
.config/pulse
.config/QtProject.conf
.config/rncbc.org
.config/spotify
.config/systemd
.config/vim
.config/spicetify
.config/gtk-*
.config/Code*
.config/GIMP

